<div id="login" class="container-fluid">
    <div class="sign">
        <span class="fast-flicker">P</span>oetry<span class="flicker">H</span>ub
    </div>
    <form id="form-login" class="container">
        <div class="form-group">
            <label for="login-email">Email address</label>
            <input type="email" class="form-control" id="login-email" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="login-pass">Password</label>
            <input type="password" class="form-control" id="login-pass" placeholder="Password">
        </div>
        <button id="login-submit" type="button" class="btn btn-primary">Login</button>
        <br>
        <br>
        <button id="signup-submit" type="button" class="btn btn-primary">SignUp or Create a New Account</button>
    </form>
    <footer class="footer bg-light">
        <div id="footer-bg"  class="container-fluid">
            <div class="row text-center">
                <div class="col-sm">
                    <div>Designed and Developed with ❤️ by NITIN PATEL
                    </div>
                    <div><span class="sub">©2022 PoetryHub</span></div>
                </div>
            </div>
    </footer>
</div>
<script src="../app/login.js"></script>