<div id="login" class="container-fluid">
    <div class="sign">
        <span class="fast-flicker">Wel</span>Come<span class="flicker"></span>
    </div>
    <form id="form-login" class="container">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter Username"> 
        </div>
        <div class="form-group">
            <label for="signup-email">Email address</label>
            <input type="email" class="form-control" id="signup-email" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="signup-pass">Password</label>
            <input type="password" class="form-control" id="signup-pass" placeholder="Password">
        </div>
        <button id="signup-submit" type="button" class="btn btn-primary">SignUp</button>
    </form>
</div>
<script src="../app/signup.js"></script>