<div class="container">
    <form>
        <div class="form-group">
            <label for="Input1">Title</label>
            <input type="text" class="form-control" id="Input1">
        </div>
        <div class="form-group">
            <label for="Input2">Post</label>
            <input type="paragraph" class="form-control" id="Input2">
        </div>
        <button id="sub-btn" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="../app/write-post.js"></script>
